[submodule "zsh/_zsh.d/third/dircolors-solarized"]
	path = zsh/_zsh.d/third/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "vim/third/neobundle.vim"]
	path = vim/third/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "vim/third/SublimeCtagsPHP"]
	path = vim/third/SublimeCtagsPHP
	url = https://github.com/erichard/SublimeCTagsPHP
[submodule "zsh/_zsh.d/third/zsh-syntax-highlighting"]
	path = zsh/_zsh.d/third/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
